<%= form_tag '/invoice/get_invoices_by_accountdid' do %>
<div id="account_did">
  <table>
  <tr><td><%=label_tag 'AccountDID' %></td>
  <td><%=text_field_tag 'account_did'%></td></tr>
  <tr><td><%= label_tag 'Status   ' %></td>
    <td><%=   select_tag "status", "<option selected='selected'>All</option><option >Open</option><option>Closed</option>".html_safe  %>
    </td></tr>
  </table>
  <div><%= submit_tag 'Continue' %></div>
</div>


<% end %>